@import "../global_styles.css";

li{
    list-style-type: none;
}

a:visited{
    color : rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color : rgb(255, 255, 255);
}

button{
    cursor : pointer;
}

body{
     background-image : linear-gradient(to bottom, var(--clr-primary-1), var(--clr-primary-2));
}

main{
    height : 100vh;
    width : 90vw;
    margin : 0 auto;

    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.main-title{
    margin : 20px 0;
    text-align : center;
    padding-top : 25px;
}

.keranjang-items{
    background-color : #E7E7E7;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-around;
    width : 70%;
    height : 100%;
}

.main-contents{
    display : flex;
    justify-content : space-around;
    height : 80%;
}

.keranjang-item{
    background-color : white;
    display : flex;
    width : 95%;
    align-items : center;
    justify-content : space-around;
    padding : 18px 0;
    font-size : 14px;
    height : 40%;
}

.produk-gambar{
    width : 110px;
    margin-right : 10px;
}

.produk-tipe{
    font-size : 12px;
}

.keranjang-bayar{
    width : 25%;
}

.keranjang-checkbox{
    transform : scale(2);
    margin : 20px;
}

.produk-harga{
    font-weight : 600;
    margin-top : 5px;
}

.produk-diskon{
    font-size : 14px;
    margin-top : 10px;
}
.produk-diskon span:first-child{
    background-color : rgba(255, 0, 0, .3);
    padding : 4px;
    border-radius : 5px;
    color : rgb(255,0,0);
    font-weight : 600;
}
.produk-diskon span:last-child{
    text-decoration: line-through;
    font-size : 12px;
}
.produk-deskripsi{
    align-self : flex-start;
    height : 100%;
    background-color :#E7E7E7;
    margin-right : 10px;
    padding : 10px;
    min-width : 200px;
    font-size : 12px;
    overflow : hidden;
}
.produk-deskripsi div:last-child{
    max-width : 200px;
}

.produk-profile{
    height : 100%;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    padding-right : 50px;
}

.produk-amount{
    font-weight : 700;

}

.keranjang-bayar{
    height : 50%;
    background-color :#E7E7E7;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    font-size: 14px;
    padding : 15px;
}

.harga{
    font-weight : bold;
}

.grand-total{
    font-weight : bold;
    display : flex;
    justify-content : space-between;
}

.keranjang-beli{
    border : none;
    background-color : var(--clr-primary-2);
    height : 30px;
    color : white;
    font-weight : 500;
}