*{
    padding: 0%;
    margin: 0%;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a{
    color: white;
}

:root{
    --clr-primary-1 : #000046;
    --clr-primary-2 : #1CB5E0;

    --clr-pembatas-1 : #00007C;
    --clr-pembatas-2 : #1CB5E0;
    --clr-pembatas-3 : #CDEEF8;

    --text-color : #3F3F3F;
}

.btn{
    height : 28%;
    border-radius : 10px;
    border : none;
    width : 80%;
    font-weight : bold;
}

.btn-masuk{
    color : var(--clr-primary-1);
    background : rgb(255, 255, 255);
}

.btn-daftar{
    color : rgb(255, 255, 255);
    background: var(--clr-pembatas-2);
}

.pembatas{
    position : sticky;
    top : 18%;
    height : 1vh;
    background-image : linear-gradient(to right, var(--clr-pembatas-1), var(--clr-pembatas-2), var(--clr-pembatas-3));
    z-index : 1;
}

.hero-image{
    width : 100%;
}

body{
    background-image: linear-gradient(#000046,#1CB5E0);
    background-repeat: no-repeat;
}

.pilih{
    margin-top: 10px;
    text-align: center;
    border: 1px solid;
    background-color: #1CB5E0;
    margin-left: 100px;
    margin-right: 100px;
}

.pilih h1{
    font-size: 20px;
    color: white;
    margin: 20px auto;
}

.metode{
    border: 1px solid;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.metode img{
    width: 150px;
    height: 150px;
}

.penawaran-btn{
    float: right;
    top : 60%;
    border-radius : 50%;
    border : none;
    width : 40px;
    height : 40px;
    transition : transform .2s;
    margin-right: 100px;
    margin-top: 30px;
}

.penawaran-btn path{
    box-shadow : 2px 3px 5px rgb(91, 91, 91);
}

.penawaran-btn:hover{
    box-shadow : 2px 3px 5px rgba(125, 125, 125, 0.7);
    transform : scale(1.1);
}

.pengiriman{
    margin: 30px auto;
    margin-left: 30px;
}

.pengiriman p{
    margin-top: 20px;
}


