*{
    padding: 0%;
    margin: 0%;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a{
    color: white;
}

:root{
    --clr-primary-1 : #000046;
    --clr-primary-2 : #1CB5E0;

    --clr-pembatas-1 : #00007C;
    --clr-pembatas-2 : #1CB5E0;
    --clr-pembatas-3 : #CDEEF8;

    --text-color : #3F3F3F;
}

body{
    width: 100%;
    height: 100%;
    background:linear-gradient(#000046,#1CB5E0) fixed no-repeat center;
    background-size: cover;
}

.pilih{
    display: flex;
    box-sizing: border-box;
    background-color: var(--clr-primary-2);
    justify-content: center;
    width: 70%;
    align-items: center;
    height: 10vh;
    margin: 30px auto 0;
}

.pilih h1 {
    color: white;
}

.metode{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.pembayaran{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px ;
}

.pembayaran h1{
    margin-bottom: 40px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.container .left{
    display: flex;
    align-items: center;
}

.container .left p{
    font-size: 18px;
    font-weight: bold;
}

.left img{
    padding-right: 30px;
    width: 200px;
    height: 100%;
}

.right button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


