@import "../global_styles.css";

*{
    padding: 0;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(#000046,#1CB5E0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 75%;
    width: 40%;
    overflow-x: hidden;
    border-radius: 64px;
    background-color: white;
}

.container .container-top{
    background-color: #000046;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container .container-top p{
    color: white;
    padding: 10px;
    font-size: 20px;
}


.container form{
    padding: 20px 50px;
}

.image-container{
    text-align: center;
    margin-bottom: 20px;
}
.container form .image-container img{
    width: 100px;
}

form ul{
    display: flex;
    flex-direction: column;
}

#check{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#check label{
    font-size: 14px;
    padding: 0 5px;
}
#check input{
    width: 15px;
    height: 15px;
}
form ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-bottom: 10px;
}

form ul li label{
    font-size: 17px;
    color: black;
}

form ul li input{
    height: 30px;
    background-color: #e7e7e7;
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
}

form ul li button{
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #1CB5E0;
    border: none;
    margin-top: 10px;
}

form ul li button:hover{
    cursor: pointer;
    background-color: aqua;
    color:#000046;
}