*{
    padding: 0;
    margin: 0;
    font-family : 'Montserrat', sans-serif;
}

:root{
    --clr-primary-1 : #000046;
    --clr-primary-2 : #1CB5E0;
    --clr-bg-content: #e7e7e7;

    --clr-pembatas-1 : #00007C;
    --clr-pembatas-2 : #1CB5E0;
    --clr-pembatas-3 : #CDEEF8;

    --text-color : #3F3F3F;
}

li{
    list-style-type: none;
}

a:visited{
    color : rgb(255, 255, 255);
}
a{
    text-decoration: none;
}

body{
    background-repeat: no-repeat;
    height: 100%;
    background-image: linear-gradient(var(--clr-primary-1),var(--clr-primary-2));
}


/* header */
header{
    display : grid;
    position : sticky;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    height : 18vh;
    background-color : var(--clr-primary-1);
    grid-template-columns: 10% 10% 32% 32% 8% 8%; 
    grid-template-rows : 30% 70%;
    justify-content : center;
    align-items : center;
    z-index : 1;
}
header .header-name{
    color: white;
}

.current-page{
    color : var(--clr-pembatas-2);
}

.header-logo{
    height: 90px;  
    margin : 10px;  
}

.header-name{
    margin-left : 5px;
}

.header-nav, 
.header-cari{
    grid-column : span 2;
}

.header-logo,
.header-name,
.btn
{
    grid-row : span 2;
}

.header-nav{
    align-self : flex-end;
}

.header-nav ul{
    display : flex;
    font-size : 15px;
    /* background-color: pink; */
    justify-content : space-around;
    width : 90%;
    margin : 0 auto;
}

.header-nav li{
    cursor : pointer;
}

.header-cari{
    background-color: rgb(255,255,255);
    display : flex;
    justify-content : center;
    width : 90%;
    margin : 0 auto;
    height : 50%;
    border : 1px solid rgb(53, 53, 53);
}

.header-cari input{
    width : 100%;
    outline : none;
    border : none;
    padding : 10px;
}

.header-cari button{
    color : rgb(255, 255, 255);
    width : 100px;
    height : 90%;
    margin : auto 2px;
    border : none;
    background-color : var(--clr-primary-1);
}

.btn{
    height : 28%;
    border-radius : 10px;
    border : none;
    width : 80%;
    font-weight : bold;
}

.btn-masuk{
    color : var(--clr-primary-1);
    background : rgb(255, 255, 255);
}

.btn-daftar{
    color : rgb(255, 255, 255);
    background: var(--clr-pembatas-2);
}

.pembatas{
    position : sticky;
    top : 18%;
    height : 1vh;
    background-image : linear-gradient(to right, var(--clr-pembatas-1), var(--clr-pembatas-2), var(--clr-pembatas-3));
    z-index : 1;
}

.hero-image{
    width : 100%;
}

main{
    padding: 40px 40px;

    margin: auto;
    width: 80%;
    display: grid;
    background-color: var(--clr-bg-content); 
    grid-template-columns: 25% 50% 25%;
    height: 100%;
    margin-top: 50px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.left .top {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 600px;
}

.left .top img{
    position: sticky;
    top: 160px;
    height: 270px;
    background-color: white;
}

.left .mid-left{
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 80px;
   
}

.left .mid-left .content-comment{
    background-color: white;
    padding: 10px;
}

.left .mid-left .foto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.left .mid-left .foto img{
    height: 61px;
    width: 61px;
    border-radius: 50%;
    border: solid;
}

.left .mid-left .Komentar{
    width: 100%;
    box-sizing: border-box;
    background-color: #c4c4c4;
    padding: 5px;
}

.left .mid-left .Komentar p{
    font-size:12px ;
}



.middle{

}

.middle .mid-content{
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.middle .mid-content .first-produk{
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 19px;
}

.middle .mid-content .first-produk .first-left{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.first-produk .first-left .part1 h4{
    color: #c4c4c4;
}

.first-produk .first-left .part2{
    display: flex;
    align-items: center;
} 

.first-produk .first-left .part2 h2{
    background-color: rgb(255, 0, 0, 0.3);
    color: red;
    padding: 5px;
}

.first-produk .first-left .part2 .diskon-right{
    margin-left: 10px;
}

.first-produk .first-left .part2 .diskon-right h2{
    background-color: white;
    padding: 0px;
    color: black;
}

.first-produk .first-left .part2 .diskon-right h4{
    color: #c4c4c4;
    text-decoration: line-through;
}

.first-produk .first-right{
    width: 50%;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-produk .first-right .star button{
    background: transparent;
    border: none;

}

.first-produk .first-right .star button:hover svg{
    fill: yellow;
    cursor: pointer;
}


.first-produk .first-right .star{
    display: flex;
    justify-content: right;
}

.first-produk .first-right .star svg{
    height: 20px;
    fill: rgb(0, 0, 0, 0.3);
    padding-left: 5px;
}

.first-produk .first-right .part2 button{
    height: 40px;
    padding: 10px 20px;
    border-radius: 19px;
    border: none;
    background-color: var(--clr-primary-2);
    color: white;
    font-weight: bold;
}

.first-produk .first-right .part2 button:hover{
    background-color: var(--clr-primary-1);
    cursor: pointer;
}

.second-desk{
    padding: 10px;
    background-color: white;
    border-radius:19px ;
    margin-top: 30px;
    text-align: justify;
}

.second-desk h3{
    padding-bottom: 20px;
}

.second-desk p{
    font-size: 14px;
}

.third-comment{
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 19px;
    padding:10px;
}

.third-comment h3{
    text-align: center;
}

.third-comment ul{
    display: flex;
    flex-direction: column;
}

.third-comment ul li{
    display: flex;
    margin: 10px 0;
}

.third-comment ul li img{
    width: 61px;
    height: 61px;
    margin-right: 10px;
    border: solid;
    border-radius: 50%;
}

.third-comment ul li .isi{
    width: 100%;
    background-color: #c4c4c4;
    box-sizing: border-box;
    padding: 10px;
}

.third-comment ul li .isi h4{
    padding-bottom: 10px;
    font-size: 14px;
}

.third-comment ul li .isi p{
    font-size: 10px;
    text-align: justify;
}

.right{
    width: 100%;
    
}

.right .container-beli{
    width: 100%;
    height: 400px;
    position: sticky;
    top: 160px;
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.right .container-beli img{
    height: 150px;
    width: fit-content;
    margin: 0 auto;

}

.right .container-beli h3{
    margin-top: 20px;
    font-size: 16px;
}

.right .container-beli .jumlah{

    display: flex;
    height: 20px;
}

.right .container-beli .plusminus{
    height: 100%;
}
.right .container-beli .plusminus img{
    height: 100%;
    background-color: #c4c4c4;
}

.right .container-beli .value{
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px ;
}

.right .container-beli h2{
    margin-top: 10px;
}

.right .container-beli button{
    color: white;
    background-color: var(--clr-primary-2);
    margin-top: 20px;
    height: 50px;
    border-radius: 19px;
    border: none;
    font-weight: bold;
}

.right .container-beli button:hover{
    cursor: pointer;
    background-color: var(--clr-primary-1);
}

footer{
    color : rgb(255, 255, 255);
    height : 100%;
    background-color : var(--clr-primary-1);
    line-height : 2.3;
    font-size : 15px;
}

.footer-container{
    width : 100%;
    height : 100%;
    display : flex;
    justify-content : space-around;
    padding : 30px 0;
}

.footer-title{
    font-weight : 700;
    margin-bottom : 10px;
    cursor : none;
}

.copyright{
    margin : 0 30px;
    font-size : 12px;
    display : flex;
    justify-content : space-between;
    padding : 30px;
}

.copyright-left span:last-child{
    font-weight : 300;
}

.copyright ul{
    display : flex;
    justify-content : space-around;
    width : 50%;
}

footer li{
    cursor : pointer;
}

.footer-images{
    width : 20px;
    margin-right : 6px;
}

.media-sosial li{
    display : flex;
    align-items : center;
}



