@import "../global_styles.css";


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color : white;
}

button{
    cursor : pointer;
}


.penawaran-spesial{
    height : 60vh;
    width : 75vw;
    margin : 0 auto;
    position : relative;
    color : white;
}

.penawaran-title{
    text-align : center;
    margin : 50px 0;
}

.penawaran-lists{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 40px;
    width : 100%;
    height : 100%;
    margin : 20px auto;
}

.penawaran-list{
    display : flex;
    flex-direction: column;
    cursor : pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition : .3s;
    justify-content: center;
}

.penawaran-list:hover{
    transform : scale(1.05);
    box-shadow: 2px 6px 10px rgba(255, 255, 255, 0.2);
}

.penawaran-image{
    align-self : center;
    width : 220px;
    margin-top : 20px;
}

.penawaran-desc{
    font-size : 17px;
    margin : 30px 10px 0 30px;
}

.penawaran-kategori{
    font-size : 12px;
}

.penawaran-harga{
    font-weight : 600;
    margin-top : 5px;
}

.penawaran-discount{
    font-size : 14px;
    margin-top : 10px;
}
.penawaran-discount span:first-child{
    background-color : rgba(255, 0, 0, .3);
    padding : 4px;
    border-radius : 5px;
    color : rgb(255,0,0);
    font-weight : 600;
}
.penawaran-discount span:last-child{
    text-decoration: line-through;
    font-size : 12px;
}
.penawaran-stok{
    font-size : 15px;
    margin-top : 10px;
    font-weight : 700;
    margin-bottom : 12px;
}


.penawaran-btn{
    position : absolute;
    top : 75%;
    border-radius : 50%;
    border : none;
    width : 40px;
    height : 40px;
    transition : transform .2s;
}

.penawaran-btn path{
    box-shadow : 2px 3px 5px rgb(91, 91, 91);
}

.penawaran-btn:hover{
     box-shadow : 2px 3px 5px rgba(125, 125, 125, 0.7);
     transform : scale(1.1);
}

.penawaran-btn-back{
    left : -10%;
}
 
.penawaran-btn-next{
    right : -10%;
}

body{
    background-image: linear-gradient(#000046,#1CB5E0);
    background-repeat: no-repeat;
    height : 280vh;
}


.penawaran-spesial-2{
    width : 75vw;
    height : 45%;
    margin-top : 250px;
}